.articles {
    margin: 1rem 0;
}

.articles .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5rem 1fr 0.5rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
}
.articles h3 {
    margin: 0.1rem;
    text-shadow: 2px 2px 8px #000;
}
.articles a,
.articles i {
    font-size: 0.5rem;
}
.articles figcaption:first-of-type div {
    font-size: 0.7rem;
}
.articles figcaption:nth-of-type(2) div {
    font-size: 0.8rem;
}
.articles figcaption:nth-of-type(3),
.articles figcaption:nth-of-type(3) a {
    color: #ff0;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 480px) {
    .articles .container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
      .articles figcaption:nth-of-type(2) div {
        font-size: 0.7rem;
    }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
    .articles .container {
        -ms-grid-columns: 1fr 1rem 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    @media screen and (max-width: 750px) {
        .articles figcaption:first-of-type div {
            font-size: 0.55rem;
        }
        .articles figcaption:nth-of-type(2) div {
            font-size: 0.45rem;
        }
    }
}
@media screen and (min-width: 1200px) {
    .articles .container {
        -ms-grid-columns: 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
    .articles figcaption:first-of-type div {
        font-size: 0.7rem;
    }
    .articles figcaption:nth-of-type(2) div {
        font-size: 0.6rem;
    }
}