.videos .container .lists .head i {
    color: var(--main-color);
}
.videos .container .preview .video-holder {
    position: relative;
}
.videos {
    padding: var(--main-padding);
}

.videos .container .lists .head {
    display: -webkit-box;
    display: -ms-flexbox;
}
.videos .container .lists {
    min-width: 300px;
}
.videos .container .lists .head {
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0 0 0.5rem;
    padding: 0.7rem 0.1rem;
}

.videos .container .lists .head i {
    padding-left: 0.7rem;
}
.videos .container .lists ul {
    background-color: var(--alt-bg-color);
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}
.videos .container .lists ul li {
    color: var(--text-color);
    border-top: 0.05rem solid var(--bg-color);
    font-size: 0.6rem;
    padding: 0.5rem 0;
}
.videos .container .lists ul li span {
    display: block;
    color: var(--alt-text-color);
    padding: 0.3rem 0;
    font-size: 0.4rem;
}
.videos .container .preview {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.videos .container .preview img {
    max-width: 100%;
}
.videos .container .preview i {
    position: absolute;
    color: var(--main-color);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0.5;
}
.videos .container .preview i:hover {
    opacity: 1;
}
.videos .container .preview p {
    background-color: var(--alt-bg-color);
    padding: 0.3rem;
    margin: 0.5rem;
}

@media screen and (max-width: 480px) {
    .videos .container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
    }
.videos .container .lists {
        min-width: 0;
    }
    .videos .container .preview i {
        font-size: 2rem;
    }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
     .videos .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .videos .container .preview i {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {

    .videos .container .preview i {
        font-size: 4rem;
    }
}

