.work {
    padding: var(--main-padding);
    background-color: var(--alt-bg-color);
}
.work .container .data .item .text {
    width: 80%;
}
.work .container,
.work .container .data .item {
    display: -webkit-box;
    display: -ms-flexbox;
}
.work .container {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 2rem;
}

.work .container img {
    max-width: 100%;
    width: 35%;
}

.work .container .data .item:hover::before {
    width: 100%;
    height: 100%;
}
.work .container .data .item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--alt-text-color);
    border-radius: 0.5rem;
    width: 0;
    height: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: -1;
    opacity: 0.3;
}
.work .container .data .item {
    border-radius: 0.5rem;
    background: var(--bg-color);
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    margin: 0.7rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    color: var(--text-color);
}
.work .container .data .item i {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.work .container .data .item .text h3 {
    margin: 0;
    letter-spacing: 0.25rem;
}
.work .container .data .item .text p {
    margin: 0.3rem 0;
    line-height: 1.8;
    font-size: 0.6rem;
}
@media screen and (max-width: 480px) {
    .work .container .data .item .text {
        text-align: center;
    }
 
    .work .container,
    .work .container .data .item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
     .work .container .data .item .text h3 {
        letter-spacing: 0;
    }

}
@media screen and (min-width: 481px) and (max-width: 1023px) {
     .work .container .data .item .text {
        text-align: center;
    }
     
    .work .container,
    .work .container .data .item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
     .work .container .data .item .text h3 {
        letter-spacing: 0;
    }
}